.headerText{
    margin: 30px 0;
    font-family: 'Lobster', cursive;
}

.headerBtn{
    cursor: pointer;
    height: 30px;
    border: 0;
    font-size: 14px;
    border-radius: 3px;
    padding: 0 10px;
    color: #ffffff;
    margin-right: 20px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
}

.uploadBtn{
    background-color: #ff6666;
    border-color: #ff6666;
    width: 90px;
    margin-top: 20px;
    margin-left: 27%;
}

.disabled{
    opacity: 0.5;
}

.inputWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.inputElement{
    margin-left: 10px;
    width: 150px;
}

.fileSelectElement{
    margin-left: 10px;
    font-size: 15px;
}

.labelWrapper{
    width: 105px;
    text-align: right;
    display: inline-block;
}

.feedbackWrapper{
    margin-top: 20px;
    border-top: 1px solid rgb(219, 218, 218);
    width: calc(100% - 20px);
    height: 52%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, tr, th{
    border: 1px solid grey;
}

.tableWrapper{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.deleteBtn{
    height: 20px;
    padding: 0 10px;
    font-size: 10px;
    margin: 3px 0;
    background-color: #ff6666;
    border-radius: 5px;
    border: 0;
}

.editBtn{
    height: 20px;
    padding: 0 10px;
    font-size: 10px;
    margin: 3px 0;
    background-color: #a4f39a;
    border-radius: 5px;
    border: 0;
    margin-right: 7px;
}

.popupWrapper{
    width: 500px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    z-index: 99;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    border-radius: 5px;
    padding: 15px;
    backdrop-filter: blur(25px);
    border: 1px solid #d5d3d3;
}

.closeBtn{
    width: 30px;
    height: 30px;
    border: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 15px;
    background-color: transparent;
}


.feedbackLabelWrapper{
    margin-bottom: 20px;
}

.feedBackDivWrapper{
    margin-top: 10px;
    width: 100%;
    height: 174px;
    overflow: auto;
}

.feedbackHeader{
    margin: 12px 0;
    text-align: center;
    font-size: 21px;
}

.feedbackLinkInput{
    background: transparent;
    border: 0;
    max-width: 200px;
}

.cpybtn{
    height: 20px;
    background-color: #94949385;
}